*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
}



#main {
    display: flex;
    width: auto;
    flex-direction: column;
    

}

#aside {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 15vw;
    justify-content: space-between;
    
}

#row-1 {
    display: flex;
    flex-direction: row;
}

#row-2 {
    display: flex;
    flex-direction: row;
}


#row-3 {
    display: flex;
    flex-direction: row;
}

#img-container {
    display: flex;
    flex-direction: row;
}